{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Party App</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<style>
    body{background-image: url("{% static 'img/12c687db5fb0a4bfc322e8d3645a816c.png' %}");
    }


</style>
<body>
<header>
    <nav class="navbar">
        <div class="logo"><a href="{% url 'home' %}">
            <div class="glitch"><span aria-hidden="true">Party app</span>
                Party app
                <span aria-hidden="true">Party app</span></div>
        </a></div>
        <ul class="menu">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="/service">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/privacy-and-policy">Privacy & Policy</a></li>
        </ul>
        {% if not user.is_authenticated %}
            <div class="buttons" onclick="window.location.href='{% url 'login' %}'"><input type="button" value="login">
            </div>
        {% else %}
            <div class="buttons" onclick="window.location.href='{% url 'create_party' %}'"><input type="button"
                                                                                                  value="Start !"></div>
        {% endif %}

    </nav>
    <div class="text-content"><h2>Welcome to Party App - Your Ultimate Watch Together Experience!</h2>
            <h3 >🍿 Lights, Camera, Action!</h3>

    <p style="line-height: 1.6; max-width: 800px;">
        Gather 'round, movie enthusiasts and friends, because <b>Part App</b> is here to redefine the way you watch movies together online. Say goodbye to the struggles of coordinating movie nights across different time zones or dealing with playback lags. With <b>Part App</b>, your movie nights just got a whole lot better!
    </p>

    <p style="font-size: 18px; line-height: 1.6; max-width: 800px; margin-top: 30px ">
        <b>🌐 Synced Simplicity:</b> Part App brings people together, no matter where they are. Our seamless synchronization feature ensures that everyone in your party experiences the movie in perfect harmony. No more counting down to press play - with <i>Part App</i>, the magic starts simultaneously for everyone. 🎬✨
    </p></div>
    <br>
    <div class="credit">Made with <span style="color:#ff00ff">❤</span> by <a id="ali"
                                                                             href="https://github.com/alifareeq77">Ali
        Fareeq</a></div>
</header>
</body>
</html>