header .text-content{
    width: 100%;
    margin: 100px 0 0 0 ;
    min-height: 23vh;
    text-align: center;
}
.login__inputs{
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
  align-items: center;

}

.login__box {
  box-sizing: border-box;
  width: 75%;
}



.login__box {
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding-inline: 1.25rem;
  border-radius: 4rem;

}

.login__input,
.login__button {
  border: none;
  outline: none;
}

.login__input {
  width: 100%;
  background: none;
  color: var(--white-color);
  padding-block: 1rem;

}

.login__input::placeholder {
  color: var(--white-color);
}

.login__box i {
  font-size: 1.25rem;
}

.login__button {
    width: 10%;
    padding-block: 1rem;
    background:transparent; /* Neon green color, adjust as needed */
    border-radius: 4rem;
    border: 2px solid #ff00ff;
    color: #ffe7ff; /* Black text color for visibility */
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition on hover */
}

.login__button:hover {
    transform: scale(1.05); /* Scale up on hover */
     box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;/* Remove shadow on hover */
}
